*{
    color: blue;
    border: 1px black solid;
}
html{
    font-size: 62.5%;
}
p{
    font-size: 2rem;
    margin-bottom: 2rem;
}
#texto-longo{
    font-size: 1rem;
}
.muitos-itens{
    color: rgb(255, 179, 0);
    padding: 0.1rem 0.4rem 0.6rem 0.8rem;
    
}